.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }

#avatar{
    height: 3rem;
    width: 3rem;
    position: top-left;
    margin-top: -10%;
    margin-left: -5%;
    z-index: 1;
}
#avatar2{
    height: 5rem;
    width: 5rem;
    /* position: top-left; */
    /* margin-top: -10%;
    margin-left: -5%; */
    z-index: 1;
}

.jumbotron{
    margin-top: 2%;
}

#homejumbotron{
  margin-top: 1%;
  width: 35rem;
}

#commentjumbotron{

  width: 35rem;
}

#homepagecard{
  margin-top: 1%;
  width: 10rem;
  height: 20rem;
  position: sticky;
}

#homepagecardimg{
  height: 5rem;
  width: 5rem;
  margin-top: 25%;
  
}
/* .card-body{
  margin-top: 25%;
} */
#homepagecardimagediv{
  margin-top: 5%;
}
#contentdiv{
  margin-left: 1%;
}

#postintro{
  margin-left: -2%;
  margin-top: -10%;
}

#hashtag{
  float: right;
}


/*  */
/* new css */

body{
  font-family: arial,sans-serif;
}

/* .container-fluid{
  margin-top: 4%;   
} */
/* h4:hover,h3:hover,h6:hover{
  color: #e51075;
} */
/* #navbar{
  overflow: hidden;
  height: 3rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  
} */
/* .nav-link{
  width: 5rem;
} */
#profile-photos{
  position: relative;   
}

#cover-photo{
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: center center;   
}

#profile-photo{
  border-radius: 50%;
  height: 13rem;
  width: 13rem;
  position: absolute;
  object-fit: cover;
  object-position: center center;
  top: 30%;
  left: 10%;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  /* box-shadow: 0px 4px 5px -2px gray; */
  box-shadow: 0px 1px 13px -3px grey;
}
#identity{
  height: 4rem;
}

#profile{
  position: relative;
  background-color: whitesmoke;
}
#contact{
  margin-top: 2%;
}
#name{
  margin-left: 30%;
  margin-top: 1%;
}
#position{
  margin-left: 30%;
  
}
.socials{
  display: inline;
}
#locationicon{
  margin-left: 30%;
}
#facebookicon{
  margin-left: 2%;
}
#linkedinicon{
  margin-left: 2%;
}
#review{
  margin-left: 30%;
}



#profilecontent{
  margin-top: 2%; 
  left: 4%;
  width: 100%;
}

.officialphone{
  display: inline;
  margin-left: 30%;
}

#officialphone{
  margin-left: 3.2%;
  margin-top: 2%;
}

#mobilephone{
  margin-left: 40%;
  margin-top: 1%;
}
#emailcontainer{
  margin-top: 8%;
}
.email{
  display: inline;
  margin-left: 30%;
}

#email{
  margin-left: 4%;
 
}


#chatbutton{
  width: 17rem;
  border-radius: 35px;
  margin-left: 25%;
  margin-top: 5%;
  background-color: #e51075;
}
