{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category,message in messages%}
<div class="alert alert-{{ category }}">
  {{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container">
  <div class="row">
      <!-- Card -->
      {% if current_user.is_authenticated %}
      <div id="homepagecard" class="card testimonial-card col-md-3">

        <!-- Background color -->
        <div class="card-up indigo lighten-1">
        </div>

        <!-- Avatar -->
        
          <img  id="homepagecardimg" src="{{url_for('static',filename='images/' + current_user.image_file)}}" class="rounded-circle avatar mx-auto white"
            alt="woman avatar">
       

        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">{{current_user.username}}</h4>
          <hr>
          <!-- Quotation -->
          <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
          </p>
        </div>

      </div>
      <!-- Card -->
      {% endif %}
    

    <div id="contentdiv" class="col-md-8">
      <div id="commentjumbotron" class="jumbotron">
          <span>Post Pitch .</span><a href="{{url_for('posts.new_post')}}"><i class="fas fa-pencil-alt "></i></a>

      </div>
      <hr>
      {% for post in posts %}
      <div id="homejumbotron" class="jumbotron">
        <div class="container-fluid">
          <small id="hashtag">Category: {{post.hashtags}}</small>
          <div class="row">
            
                <img id="avatar" src="{{ url_for('static',filename='images/' + post.author.image_file) }}" alt=""
                class="rounded-circle col-md-2">
            
            <div id="postintro" class="col-md-10 ">
                <a id="authorname" href="{{ url_for('main.account',post_id=post.id)  }}" class="row mr-2">{{post.author.username}}</a>
              <small class="text-muted row" id="date">
                {{post.date_posted.strftime('%Y-%m-%d')}}
              </small>
              
            </div>
          </div>
        </div>
        
        
          <hr>
          
          <a id="title" href="{{url_for('posts.post',post_id=post.id)}}">{{ post.title }}</a>
        <div class="footer">
            <p class="article-content">{{ post.content }}</p> 
        </div>
        <hr>
        {% if current_user.is_authenticated %}
        <a href="{{url_for('posts.post',post_id=post.id)}}"><i class="far fa-comment-alt"></i><small>Leave review</small></i></a> 
            {% else %}
            
         <a href="{{url_for('posts.post',post_id=post.id)}}" data-toggle="modal" data-target="#modalLoginForm"><i class="far fa-comment-alt"></i><small>Leave review</small></i></a> 
   
            {% endif %}
      </div>
      {%endfor%}


      {% for hashtag in hashtags %}
      <div id="homejumbotron" class="jumbotron">
        <div class="container-fluid">
          <small id="hashtag">Category: {{hashtag.hashtags}}</small>
          <div class="row">
            
                <img id="avatar" src="{{ url_for('static',filename='images/' + hashtag.author.image_file) }}" alt=""
                class="rounded-circle col-md-2">
            
            <div id="postintro" class="col-md-10 ">
                <a id="authorname" href="#" class="row mr-2">{{hashtag.author.username}}</a>
              <small class="text-muted row" id="date">
                {{hashtag.date_posted.strftime('%Y-%m-%d')}}
              </small>
              
            </div>
          </div>
        </div>
        
        
          <hr>
          
          <a id="title" href="{{url_for('posts.post',post_id=hashtag.id)}}">{{ hashtag.title }}</a>
        <div class="footer">
            <p class="article-content">{{ hashtag.content }}</p> 
        </div>
        <hr>
        {% if current_user.is_authenticated %}
        <a href="{{url_for('posts.post',post_id=hashtag.id)}}"><i class="far fa-comment-alt"></i><small>Leave review</small></i></a> 
            {% else %}
            
         <a href="{{url_for('posts.post',post_id=hashtag.id)}}" data-toggle="modal" data-target="#modalLoginForm"><i class="far fa-comment-alt"></i><small>Leave review</small></i></a> 
   
            {% endif %}
      </div>
      {%endfor%}

    </div>
  </div>
</div>



{% endblock content %}